In [39]:
# imports
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import time

In [50]:
# loading table
FILE_PATH = '../winemag-data-130k-v2.csv'
DATA = pd.read_csv(FILE_PATH)

df = DATA[['country', 'province']]

df.head()

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

In [51]:
# dropping duplicated and reseting index
df = df.drop_duplicates().dropna()
df = df.reset_index().drop('index', axis=1)
df

         country                 province
0          Italy        Sicily & Sardinia
1       Portugal                    Douro
2             US                   Oregon
3             US                 Michigan
4          Spain           Northern Spain
..           ...                      ...
420       Greece  Vin de Pays de Velvendo
421      Germany           Landwein Rhein
422       Greece                   Lesbos
423     Portugal            Távora-Varosa
424  Switzerland                Neuchâtel

[425 rows x 2 columns]

In [10]:
# scrapping google maps
# time sleep set to 15 to avoid google's captcha warning

import time

user_agent='Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0.1 Safari/602.2.14'
headers = {'User-Agent': user_agent,'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8'}


lat_long_list = []
for idx, row in df.iterrows():
    URL = f'https://www.google.com/maps/search/{row.country}+{row.province}'
    r = requests.get(URL, headers=headers)
    soup = str(BeautifulSoup(r.content))
    try:
        lat_long = re.findall('@-?\d+\.\d+,-?\d+\.\d+', soup)              
        lat, long = re.split(',', lat_long[0])
        lat = re.sub('@', '', lat)
    except(IndexError, TypeError):
        lat = 0
        long = 0
#     print(soup)
    print(row.country, row.province, lat, long)
    lat_long_list.append([lat, long])
    time.sleep(15)

Italy Sicily & Sardinia 0 0
Portugal Douro 0 0
US Oregon 43.8041334 -120.5542012
US Michigan 44.3148443 -85.6023643
Spain Northern Spain 0 0
France Alsace 48.3181795 7.4416241
Germany Rheinhessen 0 0
US California 36.778261 -119.4179324
Germany Mosel 0 0
Argentina Other 0 0
Argentina Mendoza Province -32.8896247 -68.8526867
US Virginia 37.4315734 -78.6568942
France Beaujolais 46.1134349 4.7263863
Chile Colchagua Valley -34.6761419 -71.097317
Italy Southern Italy 0 0
Chile Maule Valley 0 0
France Bordeaux 44.837789 -0.57918
Chile Maipo Valley -33.7289899 -70.7778036
US Washington 47.7510741 -120.7401385
Italy Central Italy 0 0
France Champagne 48.9168895 4.1514325
France Burgundy 47.0525047 4.3837215
Australia South Australia -30.0002315 136.2091547
Portugal Tejo 39.7528442 -5.2532284
Chile Rapel Valley 0 0
Spain Galicia 42.5750554 -8.1338558
France France Other 46.227638 2.213749
Italy Tuscany 43.7710513 11.2486208
Austria Burgenland 47.1537165 16.2688797
US New York 40.7127753 -74.0059728
Chile Leyda Valley -27.3669373 -70.3398711
Italy Piedmont 45.0522366 7.5153885
South Africa Stellenbosch -33.9321045 18.860152
South Africa Simonsberg-Stellenbosch 0 0
South Africa Walker Bay -34.4968652 19.3336242
Portugal Alentejano 38.2003808 -7.800085
Spain Central Spain 0 0
France Southwest France 0 0
Chile Aconcagua Valley -32.8035499 -70.9442243
Chile Loncomilla Valley -35.6778298 -71.7681764
New Zealand Marlborough -41.5916883 173.7624053
Italy Northeastern Italy 45.9295022 11.5621417
Chile Casablanca Valley -33.3182828 -71.4070899
Italy Veneto 45.4414662 12.3152595
South Africa Western Cape -33.2277918 21.8568586
Israel Judean Hills 31.6666667 35.1666667
Portugal Alentejo 38.2003808 -7.800085
South Africa Coastal Region -30.559482 22.937506
France Rhône Valley 0 0
Israel Galilee 0 0
Portugal Beira Atlantico 0 0
Hungary Tokaj 48.1172148 21.4089015
Austria Leithaberg 47.9666667 16.6666667
Greece Santorini 36.3931562 25.4615092
Austria Kremstal 0 0
Spain Catalonia 41.5911589 1.5208624
Romania Recas 45.8011607 21.5119138
New Zealand Hawke's Bay -39.6016597 176.5804473
Chile Curicó Valley 0 0
Chile Limarí Valley -30.7462002 -71.0022311
Chile Colchagua Costa 0 0
France Languedoc-Roussillon 43.5912356 3.2583626
France Provence 44.0144936 6.2116438
Australia Victoria -37.4713077 144.7851531
Germany Rheingau 50.1891679 8.1104164
Hungary Tokaji 48.1172148 21.4089015
Greece Naoussa 37.1235743 25.238722
Mexico Valle de Guadalupe 32.0956281 -116.572572
Chile Central Valley 0 0
Chile Lontué Valley 0 0
Italy Italy Other 0 0
Austria Weinviertel 48.3845561 16.5149128
Austria Thermenregion 0 0
Austria Niederösterreich 48.108077 15.8049558
Austria Wagram 48.299052 16.5640125
France Loire Valley 47.5532402 1.0105289
Italy Lombardy 45.4790671 9.8452433
Canada Ontario 51.253775 -85.323214
Austria Österreichischer Sekt 48.198982 16.3787714
Austria Kamptal 48.585085 15.4126618
Austria Steiermark 47.3593442 14.4699827
Austria Südsteiermark 46.7754628 15.5480548
Greece Crete 35.240117 24.8092691
Portugal Vinho Verde 0 0
US Idaho 44.0682019 -114.7420408
Australia Western Australia -27.6728168 121.6283098
Spain Levante 37.8945909 -4.7549218
New Zealand Martinborough -41.2185335 175.459548
New Zealand Central Otago -44.9566315 169.3988451
Portugal Lisboa 38.7222524 -9.1393366
US Texas 31.9685988 -99.9018131
Portugal Península de Setúbal 0 0
Australia Australia Other -25.274398 133.775136
Australia Tasmania -41.4545196 145.9706647
Germany Franken 0 0
Germany Ahr 0 0
Germany Nahe 49.765243 7.4437324
Romania Dealu Mare 45.1638854 25.4474606
Portugal Port 0 0
South Africa Darling -33.375584 18.3860652
Chile Chile -35.675147 -71.542969
Austria Südoststeiermark 46.8885229 15.8936247
Greece Corinth 37.9386365 22.9322383
Greece Halkidiki 40.3694997 23.287085
Turkey Thrace 0 0
Germany Pfalz 49.4822116 7.8609481
South Africa Robertson -33.8020653 19.8875431
Israel Dan 33.239637 35.653953
Italy Northwestern Italy 45.0036859 8.2181451
Spain Andalucia 37.5442706 -4.7277528
New Zealand Awatere Valley -41.991587 173.4336118
Austria Wiener Gemischter Satz 0 0
Austria Wachau 48.3896089 15.4748897
US Pennsylvania 41.2033216 -77.1945247
South Africa Swartland -33.3306832 18.7125791
Portugal Dão 0 0
Austria Wagram-Donauland 0 0
Chile Rio Claro -35.2808267 -71.2599507
Hungary Villány 45.8700399 18.453201
Chile Cachapoal Valley 0 0
Romania Jidvei 46.2226645 24.1098947
US America 37.09024 -95.712891
Austria Traisental 0 0
Portugal Bairrada 40.4601671 -8.4556658
Israel Negev Hills 0 0
Portugal Ribatejano 39.1381464 -8.6655592
Portugal Duriense 0 0
US New Jersey 40.0583238 -74.4056612
Portugal Beiras 39.4486999 -7.3703481
Spain Spanish Islands 28.2915637 -16.6291304
Israel Upper Galilee 33.1639839 35.6314191
Portugal Vinho Espumante 0 0
Greece Epanomi 40.4289764 22.9304174
Greece Nemea 37.82133 22.660998
Greece Peloponnese 37.5079472 22.37349
Chile Aconcagua Costa 0 0
Czech Republic Moravia 0 0
Slovenia Slovenia 46.151241 14.995463
Portugal Terras do Dão 0 0
Portugal Beira Interior 0 0
Romania Panciu 45.9081087 27.0905428
Chile Bío Bío Valley 0 0
Romania Romania 45.943161 24.96676
Portugal Portuguese Table Wine 0 0
Portugal Minho 42.346384 -8.0043039
US Missouri 37.9642529 -91.8318334
US New Mexico 34.5199402 -105.8700901
US Nevada 38.8026097 -116.419389
Portugal Bucelas 38.9007616 -9.1181917
Chile Peumo -34.3921609 -71.1667306
Chile San Antonio -33.5922807 -71.6055123
Austria Carnuntum 48.1129002 16.8650784
Portugal Estremadura 0 0
New Zealand Canterbury -43.7542275 171.1637245
Spain Spain Other 40.4272595 -3.6812251
Greece Drama 41.1502273 24.1469489
Israel Ella Valley 0 0
Luxembourg Moselle Luxembourgeoise 49.5317464 6.354141
Germany Württemberg 48.6616037 9.3501336
Germany Baden 48.00214 16.23091
Greece Pangeon 40.9166667 24.0833333
Chile Elqui Valley 0 0
New Zealand Wairau Valley -41.5653356 173.5285568
Croatia Istria 0 0
Croatia Peljesac 42.8652771 17.5505152
Georgia Kakheti 41.6481602 45.6905554
Uruguay Canelones -34.5291043 -56.2873482
England England 52.3555177 -1.1743197
Chile Marchigue -34.3961235 -71.6200289
South Africa Paarl -33.7342304 18.9621091
South Africa Durbanville -33.8275335 18.6526846
Austria Weinland Österreich 0 0
Greece Mantinia 37.616667 22.383333
Greece Chalkidiki 40.3694997 23.287085
Lebanon Lebanon 33.854721 35.862285
Portugal Setubal 38.5260437 -8.8909328
Germany Mosel-Saar-Ruwer 0 0
US Colorado 39.5500507 -105.7820674
Serbia Pocerina 0 0
Canada British Columbia 53.7266683 -127.6476205
Chile Puente Alto -33.6186082 -70.5906057
New Zealand Kumeu -36.7766898 174.5571044
Portugal Trás-os-Montes 0 0
Israel Shomron 32.422877 35.3027226
Greece Rapsani 39.9019286 22.5478028
Austria Vienna 48.2081743 16.3738189
Australia New South Wales -31.2532183 146.921099
New Zealand Nelson -41.2985321 173.2443635
New Zealand Waipara Valley 0 0
South Africa Constantia -34.0257608 18.4230789
US Arizona 34.0489281 -111.0937311
Brazil Pinto Bandeira -29.0974864 -51.4503234
Slovenia Primorska 45.9005145 13.8743767
Moldova Moldova 47.411631 28.369885
Uruguay Uruguay -32.522779 -55.765835
Morocco Zenata 33.6819916 -7.4300234
South Africa South Africa -30.559482 22.937506
US Massachusetts 42.4072107 -71.3824374
US Ohio 40.4172871 -82.907123
Peru Ica -14.07546 -75.7341811
Mexico San Vicente 31.3250324 -116.2477569
India Nashik 19.9974533 73.7898023
South Africa Franschhoek -33.8974833 19.1523292
New Zealand South Island -45.1526707 169.8926333
Uruguay Atlantida -34.7694845 -55.7636882
Bulgaria Thracian Valley 42.1440261 24.748362
Romania Tarnave 0 0
Slovenia Vipavska Dolina 45.8869925 13.9044564
Lebanon Bekaa Valley 34.008889 36.145278
South Africa Elgin -34.1564767 19.0151567
Chile Itata Valley 0 0
Portugal Table wine 0 0
Israel Samson 0 0
Portugal Madeira 32.7607074 -16.9594723
Cyprus Cyprus 35.126413 33.429859
Greece Pageon 0 0
Portugal Vinho Espumante de Qualidade 0 0
South Africa Wellington -33.6404794 19.0096562
Bulgaria Danube River Plains 43.2500601 25.3337055
New Zealand Gisborne -38.6640913 178.0227931
Portugal Obidos 39.3604212 -9.1582014
New Zealand Wairarapa -41.2128811 175.2411958
Armenia Armenia 40.069099 45.038189
Chile Santa Cruz -34.6324213 -71.3592116
Croatia Korčula 42.9297182 16.888644

Romania Viile Timisului 0 0
US Illinois 40.6331249 -89.3985283
Turkey Aegean 0 0
South Africa Simonsberg-Paarl 0 0
Uruguay Juanico -34.5907059 -56.2566093
Bulgaria Black Sea Coastal 0 0
Brazil Santa Catarina -27.2423392 -50.2188556
South Africa Overberg -34.4897034 20.402376
Greece Atalanti Valley 0 0
Romania Sebes 45.9595588 23.5663758
Portugal Moscatel de Setúbal 0 0
Greece Macedonia 40.8176812 22.8527142
Portugal Ribatejo 0 0
Germany Germany 51.165691 10.451526
Portugal Palmela 38.569441 -8.9016937
Israel Galil 0 0
Slovenia Kras 0 0
Croatia Croatia 45.1 15.2000001
New Zealand Waipara -43.0551367 172.7590715
South Africa Olifants River -24.3688001 30.6473144
Uruguay Montevideo -34.9011127 -56.1645314
Brazil Campanha -21.8343864 -45.3990201
Israel Israel 31.046051 34.851612
Austria Neusiedlersee 0 0
Hungary Hungary 47.162494 19.5033041
Chile Lolol Valley 0 0
Chile Cauquenes Valley 0 0
South Africa Groenekloof -25.7740895 28.2204987
Portugal Alenquer 39.0577004 -9.0140033
Slovenia Goriska Brda 45.9557573 13.4675302
Romania Murfatlar 44.1735518 28.4105479
Portugal Moscatel do Douro 0 0
US Washington-Oregon 45.5469616 -123.1386021
New Zealand New Zealand -40.900557 174.885971
Brazil Serra Gaúcha 0 0
Uruguay San Jose -34.3086518 -56.7256366
Brazil Vale dos Vinhedos -29.1962673 -51.5574014
Austria Mittelburgenland 47.49497 16.50879
South Africa Lutzville Valley 0 0
US North Carolina 35.7595731 -79.0192997
Chile Apalta 0 0
Chile Malleco -38.1635613 -72.5204827
Morocco Guerrouane 0 0
Switzerland Valais 46.1904614 7.5449226
Chile Choapa Valley 0 0
Georgia Georgia 32.1656221 -82.9000751
Turkey Ankara 39.9333635 32.8597419
Greece Samos 0 0
Germany Mittelrhein 0 0
Austria Eisenberg 47.166 16.44581
Chile Sagrada Familia -34.9984205 -71.3445822
Austria Austria 47.516231 14.550072
Bosnia and Herzegovina Mostar 43.3437748 17.8077578
US Iowa 41.8780025 -93.097702
South Africa Tulbagh -33.2872221 19.1434108
South Africa Cederberg -32.5891202 19.0118251
South Africa Hemel en Aarde -34.4116592 19.2065868
South Africa Ceres Plateau 0 0
South Africa Bot River -34.2254252 19.1969241
Greece Patras 38.2466395 21.734574
Greece Korinthia 38.0022977 22.5245093
Greece Greece 39.074208 21.824312
Chile San Clemente -35.5362386 -71.4872994
Croatia Podunavlje 45.630613 18.8133484
Greece Florina 40.7845262 21.4131222
Chile Buin -33.7313897 -70.742431
Israel Haut-Judeé 0 0
Ukraine Ukraine 48.379433 31.1655799
Portugal Terras do Sado 0 0
Chile Maipo Valley-Colchagua Valley -33.444962 -70.648283
Brazil Brazil 0 0
South Africa Breedekloof -33.681831 19.3143778
Chile Leyda Valley-Maipo Valley 0 0
US Vermont 44.5588028 -72.5778415
Switzerland Switzerland 46.818188 8.227512
New Zealand Waitaki Valley 0 0
Hungary Eger 47.9025348 20.3772284
Israel Golan Heights 33.0155854 35.784354
Serbia Fruška Gora 45.1570803 19.7093272
South Africa Philadelphia -33.6666209 18.5811957
Slovakia Muzla 47.7922734 18.5974801
Hungary Mátra 0 0
Chile Pirque -33.6874736 -70.5883812
Israel Negev 0 0
Cyprus Pitsilia Mountains 0 0
New Zealand East Coast 0 0
Greece Mavrodaphne of Patras 38.196911 21.769676
Greece Attica 38.0457568 23.8584737
Uruguay Progreso -34.6636109 -56.2230875
Turkey Elazığ-Diyarbakir 0 0
South Africa Jonkershoek Valley 0 0
Macedonia Tikves 0 0
Brazil Vale Trentino -29.231643 -51.2702634
Turkey Turkey 0 0
New Zealand Waiheke Island 0 0
Chile Molina -35.1164987 -71.2829759
Brazil Serra do Sudeste 0 0
Croatia Dalmatian Coast 0 0
South Africa Eilandia -33.7725 19.67317
Romania Dealurile Munteniei 0 0
Greece Thraki 41.1295126 24.8877191
Chile Curicó and Maipo Valleys 0 0
Slovenia Štajerska 0 0
Croatia Middle and South Dalmatia 0 0
US Kentucky 37.8393332 -84.2700179
Serbia Župa 42.9712396 20.3606701
Cyprus Pafos 34.7720133 32.4297369
Greece Monemvasia 36.6876016 23.056032
Hungary Szekszárd 46.3474326 18.7062293
Turkey Elazığ 38.674816 39.222515
Turkey Cappadocia 38.3534949 35.0911156
Croatia Kutjevo 45.4258814 17.88337
Greece Ismarikos 0 0
US Connecticut 41.6032207 -73.087749
Greece Sithonia 40.042709 23.9060624
Chile Curicó and Leyda Valleys 0 0
Greece Agioritikos 0 0
Chile Casablanca-Curicó Valley 0 0
South Africa Piekenierskloof -32.6213889 18.9547222
South Africa Elim -34.583333 19.75
South Africa Malgas -34.3204182 20.5811363
Greece Beotia 38.3663664 23.0965064
Portugal Algarve 37.0179538 -7.930834
Greece Retsina 0 0
Greece Amindeo 40.6905178 21.6797432
Chile Coelemu -36.4890584 -72.7036084
South Africa Cape South Coast 0 0
Hungary Sopron 47.6816619 16.5844795
Bulgaria Bulgaria 42.733883 25.48583
Croatia North Dalmatia 0 0
South Africa Northern Cape -29.0466808 21.8568586
Portugal Vinho da Mesa 0 0
Croatia Hvar 43.1541875 16.6527099
Greece Cephalonia 38.1753675 20.5692179
Cyprus Lemesos 34.7071301 33.0226174
Moldova Cahul 45.8939404 28.1890275
Greece Cyclades 37.1548247 25.0687356
South Africa Breede River Valley 0 0
Switzerland Ticino 46.331734 8.8004529
South Africa Vlootenburg 0 0
Slovenia Brda 45.9975652 13.5270474
Croatia Dingač 0 0
Morocco Morocco 31.791702 -7.09262
Greece Achaia 38.1158729 21.9522491
South Africa Polkadraai Hills -33.9608446 18.800415
US Rhode Island 41.5800945 -71.4774291
Greece Amyndeon 40.6905178 21.6797432
Romania Vânju Mare 44.4257053 22.8680481
Croatia Hrvatsko Primorje 45.3173996 14.8167466
Greece Central Greece 38.6043984 22.7152131
Slovenia Dolenjska 45.7558584 15.0592333
Austria Österreichischer Perlwein 0 0
Chile Requinoa -34.2866812 -70.8211772
Greece Mavrodaphne de Cephalonie 0 0
Greece Goumenissa 40.946869 22.4510542
Portugal Portugal 39.399872 -8.224454
Greece Messinia 37.1424653 21.9522491
Greece Lakonia 37.0299087 22.5245093
Greece Markopoulo 37.8833564 23.9333037
Portugal Vinho Licoroso 0 0
South Africa Paardeberg 0 0
Mexico San Antonio de las Minas Valley 0 0
Greece Krania Olympus 0 0
Greece Corinthia 38.0022977 22.5245093
Slovenia Slovenska Istra 0 0
Cyprus Commandaria 0 0
New Zealand Gladstone -41.0778061 175.6558115
Israel Jerusalem Hills 0 0
Greece Mount Athos 40.2644928 24.2152731
Portugal Colares 38.8066307 -9.4426867
South Africa Helderberg -34.1298863 18.9064427
Chile Casablanca & Leyda Valleys -33.3182828 -71.4070899
Romania Dealurile Hușilor 0 0
Turkey Urla-Thrace 38.324972 26.76681
Austria Südburgenland 47.1878672 16.2040344
South Africa Cape Peninsula -34.2500139 18.4157357
Moldova Codru Region 46.9787276 28.8156637
Greece Sterea Ellada 38.6043984 22.7152131
Greece Muscat of Patras 38.196911 21.769676
Greece Imathia 40.6060067 22.1430215
Portugal Alenteo 38.2003808 -7.800085
Canada Canada Other 56.130366 -106.346771
Greece Letrinon 37.6720919 21.4378157
Greece Muscat of Kefallonian 0 0
Greece Thessalikos 0 0
US Hawaii 19.8967662 -155.5827818
China China 0 0
Greece Limnos 39.9198413 25.141484
Egypt Egypt 26.820553 30.802498
Romania Viile Timis 0 0
South Africa Devon Valley -33.9234308 18.8187429
Croatia Krk 45.0809356 14.5925861
Greece Arcadia 37.5557825 22.3337769
South Africa Cape Agulhas -34.8163001 20.0151897
Cyprus Kathikas 34.9137456 32.4184108
Greece Vin de Pays de Velvendo 40.2545476 22.0742782
Germany Landwein Rhein 49.2313352 8.3860749
Greece Lesbos 0 0
Portugal Távora-Varosa 0 0
Switzerland Neuchâtel 46.9899874 6.9292732

In [54]:
# creating Dataframe and check if the number of rows is consistent with number of rows of df
# 425 rows = 425 rows

df_lat_long = pd.DataFrame(lat_long_list, columns=['latitude', 'longtitude'])
df_lat_long

       latitude    longtitude
0             0             0
1             0             0
2    43.8041334  -120.5542012
3    44.3148443   -85.6023643
4             0             0
..          ...           ...
420  40.2545476    22.0742782
421  49.2313352     8.3860749
422           0             0
423           0             0
424  46.9899874     6.9292732

[425 rows x 2 columns]

In [55]:
df

         country                 province
0          Italy        Sicily & Sardinia
1       Portugal                    Douro
2             US                   Oregon
3             US                 Michigan
4          Spain           Northern Spain
..           ...                      ...
420       Greece  Vin de Pays de Velvendo
421      Germany           Landwein Rhein
422       Greece                   Lesbos
423     Portugal            Távora-Varosa
424  Switzerland                Neuchâtel

[425 rows x 2 columns]

In [56]:
# joining dataframes

provinces_lat_long = pd.concat([df, df_lat_long], axis=1)
provinces_lat_long

         country                 province    latitude    longtitude
0          Italy        Sicily & Sardinia           0             0
1       Portugal                    Douro           0             0
2             US                   Oregon  43.8041334  -120.5542012
3             US                 Michigan  44.3148443   -85.6023643
4          Spain           Northern Spain           0             0
..           ...                      ...         ...           ...
420       Greece  Vin de Pays de Velvendo  40.2545476    22.0742782
421      Germany           Landwein Rhein  49.2313352     8.3860749
422       Greece                   Lesbos           0             0
423     Portugal            Távora-Varosa           0             0
424  Switzerland                Neuchâtel  46.9899874     6.9292732

[425 rows x 4 columns]

In [38]:
# checking the number of unrecognized provinces by the google maps
provinces_lat_long[provinces_lat_long['latitude'] == 0]

      country           province latitude longtitude
0       Italy  Sicily & Sardinia        0          0
1    Portugal              Douro        0          0
4       Spain     Northern Spain        0          0
6     Germany        Rheinhessen        0          0
8     Germany              Mosel        0          0
..        ...                ...      ...        ...
409    Greece        Thessalikos        0          0
411     China              China        0          0
414   Romania        Viile Timis        0          0
422    Greece             Lesbos        0          0
423  Portugal      Távora-Varosa        0          0

[126 rows x 4 columns]

In [60]:
provinces_lat_long.to_csv('../provinces_latlong.csv', index=False, encoding='utf-8-sig')